body {
    background-color: ghostwhite;

}


.header {
    position: relative;
    width: 100%;
    height: 568px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url(http://theme.co/media/x-home-main-header-3-bg.jpg)

}

.header .form img {
    border-radius: 50%;

}

.header img:hover {
    cursor: pointer;
}
.social {
    position: absolute;
    top: 1%;
    right: 1%
}

.form img:hover {
    box-shadow: 2px 2Px 2Px black;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    transition-duration: 0.2s;
}

.social ul li {
    display: inline-block;
}
.social ul li img:hover
{
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    transition-duration: 0.2s;
}

.form {
    margin: auto;
    position: absolute;
    top: 58% !important;
    bottom: 0!important;
    right: 0!important;
    width: 74px!important;
    background-color: rgba(128, 128, 128, 0.4);
    padding: 2Px;
    border-top-left-radius: 50px;
}

.form ul li{
    display: inline-block;
}

.logo-center {
    margin: auto;
    position: absolute;
    top: 0%;
    left: 0;
    bottom: 0;
    right: 0;
    width: 42%;
}

.nav {
    position: absolute;
    bottom: 0%;
}

.sticky{
    position: fixed;
    top: 0; left: 0;
    z-index: 2;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.color-blue {
    background-color: #4593BC;
}

.larg {
    text-align: center;
    border-left: 1px solid #616161;
    box-shadow: -1px 0 0 0 rgba(255, 255, 255, 0.065), inset -1px 0 0 0 rgba(255, 255, 255, 0.065);
    width: 10%;
}

.side-nav a {
    color: #FFFAFA;
    display: block;
    height: 64px;
    line-height: 64px;
    padding: 0 15px;
}

.menu-c a {
    font-size: 150%;

}

video#bgvid {
    z-index: -100;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: -100;
    background: url(http://theme.co/media/x-home-main-header-3-bg.jpg) no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 992px) {


    .mobile {font-size: 100px;
    }

    .infos {
        clear: both !important;
        width: 100% !important;
    }

    .picture .thumbnail {
        width: 150% !important;
    }

    .button-play {
        left: 65% !important;

    }

    .social {
        margin: auto;
        position: absolute;
        top: 1px !important;
        left: 0!important;
        bottom: 0!important;
        right: 0!important;
        width: 270px!important;
    }

}

.lazy {
    display: inline;
    position: absolute;
    right: 0;
}

.header-unit {
    height: 150px;
    border: 2px solid #000;
    border-right:none;
    border-left: none;
    position: relative;
    padding: 20px;
}
#video-container {
    position: absolute;
}
#video-container {
    top: -18%;
    left: 0%;
    height: 100%;
    width: 100%;
}

video.fillWidth {
    width: 100%;
}

.body {
    margin-top: 7%;
}

.titre {
    font-weight: 500;
    font-size: 27px;
    font-family: impact;
}
.resum {
    font-size: 16px;
}

.body ul li {
    color: grey;
}

.picture {
    padding: 0!important;
    position: relative;
    height: 350px;
}

.picture .thumbnail {
    box-shadow: 0px 0Px 13Px black;
    width: 100%;
    height: 100%;
    transition-duration: 0.2s;
}

.video {
    box-shadow: 0px 0Px 13Px black;
    padding:0 !important;

}

.infos {
    padding: 1% !important;
}

.video:hover {
    cursor: pointer;
    box-shadow: 0px 0Px 3Px black;
    transition-duration: 0.3s;
}

.video:hover .picture .thumbnail{
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    transition-duration: 0.3s;
}

.video:hover .button-play{
    opacity: 1;
    transition-duration: 0.3s;
}

.button-play {
    position: absolute;
    top: 40%;
    left: 44%;
    z-index: 9999;
    opacity: 0;
    transition-duration: 0.3s;
}

.card {
    background: #fff;
    display: block;
    padding: 10px;
    margin: 20px 0;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
}

.card-1:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.infos .titre h2 {

    font-size: 25px;
}